<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <label type="username" placeholder="ENTER USERNAME " name="username"> Username:
            <input type="username"> </label> <br> <br>
        <label type="password" placeholder="ENTER PASSWORD" name="password"> Password:
            <input type="password"></label> <br><br>
        <button type="submit">Login</button>
    </form>
</body>
</html>
