<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
        table{
            background-color: beige;
            font-family: 'Times New Roman', Times, serif;
            font-size: larger;
            position: fixed;
            left: 200px;
        
        }
        th { 
            background-color: darkseagreen;
        }

    </style>
</head>
<body>
    <div> <h1> Product Details :</h1></div>
    <table>
            
                <th> Product Id </th>
                <th> Product Name</th>
                <th> Product Description</th>
                <th> Product Price</th>
                <th> Product Discount </th>
                <th> Product Date </th>
            
        {% for i in data%}
            <tr> 
                <td>{{i.id}} </td>
                <td> {{i.name}}</td>
                <td>{{i.desc}} </td>
                <td>{{i.price}} </td>
                <td>{{i.discount}} </td>
                <td>{{i.date}} </td>
            </tr>    
        {% endfor %}
    </table>
</body>
</html>