<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1{ background-color: pink;
            width: 100%;}
        div{
            background-color: aquamarine;

        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 > Variable: {{a}}</h1>
    <h1> List values: {{li}}</h1>
    <h1> Last list value: {{li.3}}</h1>
    <h1> First list: {{li.0}}</h1>
    <h1> Dictionary values: {{di}}</h1>
    <h1> Dictionary last data : {{di.x}}</h1>
<hr><div>
    <h2> College name: {{clg_name.name_of_clg}}</h2>
    <h2> Student name : {{clg_name.name}}</h2>
    <h2> Student age : {{clg_name.age}}</h2>
    <h2> Student email : {{clg_name.email}}</h2>
    </div>

</body>
</html>