<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <b>UPPER CASE:</b> &nbsp;  {{'hello world' | upper}}<br>
   <b>LOWER CASE:</b> &nbsp;{{'hello world' | lower}}<br>
    <b>TITLE CASE</b>&nbsp;{{'hello world welcome to the jinja tags' | title}}<br>
    <b>FORST LETTER</b>&nbsp;{{'hello world' | first}}<br>
   <b>LAST LETTER</b> &nbsp;{{'hello world' | last}}<br>
   <b>WORD COUNT</b>&nbsp;{{'hello world' | wordcount}}<br>
    <b>LANGTH</b>&nbsp;{{'hello world' | length}} <br>
    <b>SLICING </b>&nbsp;{{'hello world123' | slice:'::-1'}} <br>
    <b>CAPFIRST </b>&nbsp;{{'hello \n world \n 123' | capfirst}} <br>
   <b>CUT </b> &nbsp;{{'helloworld123' | cut:'l'}} <br>
   <b>JOIN </b> &nbsp;{{'helloworld123' | join:'--'}} <br>
   <b>TRUNCATE WORDS </b> &nbsp;{{'helloworld123' | truncatewords:9}} <br>







</body>
</html>